/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
}

html {
	/* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
	font-family:
		system-ui,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
	line-height: 1.15; /* 1. Correct the line height in all browsers. */
	-webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
	tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
}

/*
Sections
========
*/

body {
	margin: 0; /* Remove the margin in all browsers. */
}

/*
Text-level semantics
====================
*/

/**
Add the correct font weight in Chrome and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	border-color: currentcolor;
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}

/* MY OWN STYLES */

@font-face {
    font-family: "playfair";
    src: url("./fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url("./fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, strong {
    font-family: "playfair", sans-serif;
}

p, span {
    font-family: "roboto", sans-serif;
}


html {
	background-color: white;
	justify-content: center;
}

body {
	height: 130vh;
	margin: 0 auto;
	padding: 0 6rem;
}

header {
    
    background-color: white; /* White foreground */
    position: relative; /* Ensures it acts as a container for .diagonal */
    z-index: 2; /* Higher so it's above .diagonal */
	justify-content: center;
	align-items: center;
    padding-top: 2rem;
}

.diagonal {
    background-color: #3A7CA5;
    position: absolute;
    min-width: 100%;
	min-height: 300px;
    top: 0;
    left: 0;
    z-index: 1; 
    clip-path: polygon(0% 0%, 100% 0%, 100% 64%, 0% 100%);
	transform: scale(1.2);
	flex-shrink: 0;
}

.about-me {
    padding: 2rem 2rem 0 0;
	background-color: white;
    z-index: 3; 
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	color: black;
	position: relative;
	min-width: 300px;
}

.about-me > img {
	height: 320px;
	min-width: 300px;
	
	margin-right: 2rem;
	z-index: 5;
	float: left;
	margin-top: -3rem;

}

.profile-btns button {
	flex: 1;
	all: unset; 
	cursor: pointer; 
	height: 30px;
	width: 30px;
	transition: transform 0.2s ease-in;
}

.profile-btns button:hover {
	transform: scale(1.1);
}

.profile-btns {
	display: flex;
	gap: 5px;
	position: relative;
	justify-content: end;
	padding: 1rem 0 1rem 0;
	
}

main h2 {
	margin-top: 4rem;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 20px;
}

.proj1 > .screenshot { background-color: #007BFF; } /* Blue */
.proj2 > .screenshot { background-color: #34A853; } /* Green */
.proj3 > .screenshot { background-color: #FBBC05; } /* Yellow */
.proj4 > .screenshot { background-color: #EA4335; } /* Red */
.proj5 > .screenshot { background-color: #9B51E0; } /* Purple */
.proj6 > .screenshot { background-color: #F2994A; } /* Orange */

.wrapper > button {
	all: unset;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2),  /* Bottom-right */
                -2px -2px 5px rgba(0, 0, 0, 0.2), /* Top-left */
                2px -2px 5px rgba(0, 0, 0, 0.2),  /* Top-right */
                -2px 2px 5px rgba(0, 0, 0, 0.2); /* Bottom-left */
	cursor: pointer;
	transition: transform 0.2s ease-in;
}
.wrapper > button:hover {
	transform: scale(1.05);
}

.screenshot  {
	background-color: aqua;
	padding: 70px 0;
	text-align: center;
}


.screenshot h3 {
	margin: 0;
	color: white;
}

.proj-info {
	padding: 10px;
	
	position: relative;
}

.proj-icons {
	position: absolute;
	right: 10px;
}

footer {
	margin-top: 4rem;
	background-color: #3A7CA5;
	transform: scaleX(1.2);
	padding: 2rem 4rem;
	min-height: 300px;
	min-width: 100%;
	display: flex;
}


.contact {
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: stretch;
}

footer > img {
	float: right;
	display: inline;
	min-width: 350px;
	min-height: 300px;
	z-index: 5;
}

.contact-btns button {
	all: unset; 
	cursor: pointer; 
	height: 30px;
	width: 30px;
	transition: transform 0.2s ease-in;
}

.contact-btns button:hover {
	transform: scale(1.1);
}

.contact > span > img {
	filter: invert(1);
}

.contact > p,
.contact > span {
	font-size:small;
}

@media (min-width: 1001px) {
	body {
		padding: 0 6rem;
		max-width: 1000px;
	}
}


@media (max-width: 1000px) {
	body {
		padding: 0 4rem;
	}
}

@media (max-width: 774px) {
	body {
		padding: 0 3rem;
	}
	footer {
		display: flex;
		flex-direction: column;
		padding: 0;
		align-items: center;
	}
	.footer > img {
		margin: -4rem;
		flex: 2;
		min-width: 300px;
	}
	.contact {
		flex: 1;
		padding: 2rem 2rem 0 2rem;
	}
}

@media (max-width: 582px) {
	.about-me > img {
		float: none;
		margin-right: 0 ;
	}
	.about-me {
		margin: 0 auto;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 2rem;
		text-align: justify;
	}
	.container {
		flex-direction: column;
		padding: 0;
	}
	body {
		padding: 0 2rem;
	}
}

@media (max-width: 500px) {
	body {
		padding: 0 1rem;
	}

}