/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
}

html {
	/* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
	font-family:
		system-ui,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
	line-height: 1.15; /* 1. Correct the line height in all browsers. */
	-webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
	tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
}

/*
Sections
========
*/

body {
	margin: 0; /* Remove the margin in all browsers. */
}

/*
Text-level semantics
====================
*/

/**
Add the correct font weight in Chrome and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	border-color: currentcolor;
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}

/* MY OWN STYLES */
html {
	background-color: white;
}

body {
	height: 125vh;
	max-width: 1100px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

header {
    flex: 1;
    background-color: white; /* White foreground */
    display: flex;
    position: relative; /* Ensures it acts as a container for .diagonal */
    z-index: 2; /* Higher so it's above .diagonal */
	justify-content: center;
	align-items: center;
    
}

.diagonal {
    background-color: rgb(20, 20, 121);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1; /* Stays behind header */
    clip-path: polygon(0% 0%, 100% 0%, 100% 64%, 0% 100%);
}

.about-me {
    flex: 1;
    background-color: white;
    z-index: 3; /* Higher so it's in front of everything */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    position: relative; /* Ensures it respects z-index */
	margin: 2rem 8rem;
	display: flex;
	color: black;
	gap: 1rem;
	min-width: 685px;
	padding-right: 1rem;
}



.name {
	z-index: 5;
	color: white;
	position: absolute;
	margin: 0;
	bottom: 25px;
	padding-left: 6rem;
}

.picture {
	width: 400px;
	height: 280px;
	position: relative;
	background-image: url(./imgs/kael4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	transform: scaleY(1.15);
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.description{
	flex: 1;
}

.profile-btns button {
	flex: 1;
	all: unset; 
	display: inline-block;
	cursor: pointer; 
	height: 30px;
	width: 30px;
	
}

.profile-btns button i {
	font-size: 25px;
	width: 100%;
}

.profile-btns {
	display: flex;
	gap: 5px;
	justify-content: end;
	position: absolute;
	bottom: 0;
	right: 15px;
}

main {
	flex: 5;
}

footer {
	flex: 1;
	background-color: rgb(20, 20, 121);

}